/* font-family: 'Poppins', sans-serif;
font-family: 'Titillium Web', sans-serif; */

:root {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  --black: #000;
  --white: #fff;
  --yellowHack: #ffc311;
  --grey: #929292;
  --lightgrey: #e6e6e6;
  box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  outline: 0 none;
}
#form {
  padding: 2em;
} 
/* h1 LOGIN */
#form > h1 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 2.8rem;
  margin: 3% 0;
  color: var(--dark);
}
#form > form {
  background-color: var(--white);
}
/* Imputs Username y Password */
#form form input:nth-child(1),
input:nth-child(2) {
  border: 1.6px solid var(--lightgrey);
  width: 100%;
  padding: 1.2em;
  font-family: inherit;
}
/* Margen al Username */
#form form input:nth-child(1) {
  margin: 3% 0;
}
/* Color gris placeholder Username Password */
input::placeholder {
  /* color: var(--grey); */
  color: #d6d4d4;
  font-weight: bold;
  font-size: small;
}
/* Botones Remember y Sign in */
#rememberme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--grey);
  margin: 3% 0;
}
/* Botón Remember y checkout */
#rememberme input {
  width: auto !important;
  margin-right: 10px !important;
}

/* Botón Sign in */
#form input:nth-child(3) {
  background-color: var(--yellowHack);
  padding: 1.2em 2.3em;
  color: var(--white);
  font-size: 1rem;
}

/* Enlaces Lost Password y Create an Account */
#password-account {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 0;
}
#password-account a:nth-child(1) {
  text-decoration: none;
  color: var(--black);
}
#password-account a:nth-child(2) {
  text-decoration: none;
  color: var(--grey);
}


/* Bootstrap breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* here your code */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #form {
    padding: 10em;  
      }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* here your code */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* here your code */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) {
  #form {
padding: 30em;  
  }
}
