/* font-family: 'Poppins', sans-serif;
font-family: 'Titillium Web', sans-serif; */

:root {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  --black: #000;
  --white: #fff;
  --yellowHack: #ffc311;
  --grey: #929292;
  box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  outline: 0 none;
}

body {
  /* background-color: var(--black); */
}
#form {
  padding: 1em;
}
#form > h1 {
  text-align: center;
}
#form > form {
  background-color: var(--white);
  /* width: 100vw;
  height: 100vh; */
}

.textinputs {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; */
}
/* Botones Remember y Sign in */
#rememberme {
  /* display: flex;
  flex-direction: column; */
  /* align-items: flex-start;
  align-content: flex-start; */
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
}
#rememberme input{
  width: auto !important;
  margin-right: 20px;
}

/* Botón Sign in */
#form input:nth-child(3) {
  background-color: var(--yellowHack);
  padding: 1em;
  color: var(--white);
}

/* h1 login */
#form form h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  /* margin: 0 auto;  */
  text-align: center;
}

/* Imputs Username y Password */
#form form input:nth-child(1),
input:nth-child(2) {
  border: 1px solid var(--grey);
  width: 100%;
  padding: 1em;
}
/* Botón remember */
#rememberme {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;  */
  /* margin-right: 60%; */
  /* flex-direction: row; */
  color: var(--grey);
}

/* Botón Sign in */
#form form input:nth-child(5) {
  justify-content: flex-start;
  background-color: var(--yellowHack);
  padding: 1em;
  color: var(--white);
  /* margin-right: 68%; */
}
/* Enlaces Lost Password y Create an Account */
#password-account {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
}
#password-account a:nth-child(1) {
  text-decoration: none;
  color: var(--black);
}
#password-account a:nth-child(2) {
  text-decoration: none;
  color: var(--grey);
}

/* Bootstrap breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* here your code */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* here your code */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* here your code */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* here your code */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* here your code */
}
